<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td{
            border-collapse: collapse;
        }
        td{
            padding: 20px 10px;
        }
    </style>

</head>

<body>
    <table>
        <tr>
            <th style="border: 1px solid red;">id</th>
            <th style="border: 1px solid red;">name</th>
            <th style="border: 1px solid red;">song</th>
        </tr>
        <%for(let i=0;i<data.length;i++){%>
            <tr style="text-align: center;">
                <td style="border: 1px solid red;">
                    <%= data[i].id%>
                </td>
                <td style="border: 1px solid red;">
                    <%= data[i].name%>
                </td>
                <td style="border: 1px solid red;">
                    <%= data[i].song%>
                </td>
            </tr>
            <%}%>

    </table>
</body>

</html>